body {
    margin: 0;
    background-image: url("/image/Sonia_Minhas.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    .navbar {
        overflow: hidden;
        background-color: gold;
        position: fixed;
        top: 0;
        width: 100%;
        /* height: 25%; */
    }
    .navbar a {
        float: right;
        display: block;
        color: rgb(193, 27, 27);
        font-weight: bold;
        text-align: left;
        padding: 10px;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar a:hover {
        background: #dcd4d4;
        color: rgb(216, 35, 35);
    }
    .main {
        padding: 16px;
        margin-top: 30px;
        height: 1500px;
        /* Used in this example to enable scrolling */
    }
}

.moving_logo {
    font-size: 5vw;
    margin: 3% 50%;
    color: #ffc107;
}

.z-text {
    animation: wobble 8s ease-in-out infinite;
    transform: rotateX(30deg) rotateY(-30deg);
}

.z-layer:nth-child(1) {
    color: white;
}

.z-layer:nth-child(2) {
    color: black;
}

.z-layer:nth-child(3) {
    color: 1ay;
}

@keyframes wobble {
    0%,
    100% {
        transform: rotate3d(-1, 1, 0, 300deg);
    }
    25% {
        transform: rotate3d(1, 1, 0, 90deg);
    }
    50% {
        transform: rotate3d(1, -1, 0, 360deg);
    }
    75% {
        transform: rotate3d(-1, -1, 0, 90deg);
    }
}

.container {
    border: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
}

.box {
    flex-shrink: 1;
    width: 5rem;
    height: 5rem;
    background-color: gold;
    margin: 2rem;
    text-align: center;
}

.box-one {
    align-self: flex-start;
    flex-basis: 20rem;
}


/* .vertical-menu {
    width: 200px;
}

.vertical-menu a {
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
} */